---
import Button from '@/components/ui/Button.astro'

export interface Input {
  type: astroHTML.JSX.HTMLInputTypeAttribute
  name: string
  label?: string
  autocomplete?: string
  placeholder?: string
}

export interface Textarea {
  label?: string
  placeholder?: string
  rows?: number
}

interface Props {
  inputs?: Input[]
  textarea?: Textarea
  disclaimer?: string
  button?: string
  description?: string
  onSubmit?: any
}

const { inputs, textarea, button = 'Submit', description = '', onSubmit } = Astro.props
---

<form onsubmit={onSubmit}>
  {
    inputs &&
      inputs.map(
        ({ type = 'text', name, label = '', autocomplete = 'on', placeholder = '' }) =>
          name && (
            <div class="mb-6">
              {label && (
                <label for={name} class="block text-sm font-medium text-muted">
                  {label}
                </label>
              )}
              <input
                type={type}
                name={name}
                id={name}
                autocomplete={autocomplete}
                placeholder={placeholder}
                class="py-3 px-4 block w-full text-md rounded-lg border border-border dark:border-border bg-page dark:bg-page"
              />
            </div>
          )
      )
  }

  {
    textarea && (
      <div class="mb-6">
        <label for="textarea" class="block text-sm font-medium text-muted">
          {textarea.label}
        </label>
        <textarea
          id="textarea"
          name="textarea"
          rows={textarea.rows ? textarea.rows : 4}
          placeholder={textarea.placeholder}
          class="py-3 px-4 block w-full text-md rounded-lg border border-border dark:border-border bg-page dark:bg-page bg-opacity-25"
        />
      </div>
    )
  }

  {
    button && (
      <div class="flex justify-center">
        <Button variant="primary" type="submit">
          {button}
        </Button>
      </div>
    )
  }

  {
    description && (
      <div class="mt-3 text-center">
        <p class="text-sm text-muted dark:text-muted">{description}</p>
      </div>
    )
  }
</form>
